{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% blocktrans %}Muvaffaqiyatli ro'yxatdan o'tdingiz{% endblocktrans %} {% endblock title %}
{% block content %}
    <h1>{{ new_user.first_name }}, {% blocktrans %}tabriklaymiz ro'yxatdan
        muvaffaqiyatli o'tdingiz{% endblocktrans %}</h1>
    <p>{% blocktrans %}Endi saytga{% endblocktrans %} <a style="color: #0a53be" href="{% url 'login' %}">{% blocktrans %}login{% endblocktrans %}</a>
        {% blocktrans %}qilishiz mumkin{% endblocktrans %}
    </p>
{% endblock content %}